* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    color: beige;
    background-color: black;
    text-align: center;
}

h1, a {
    color: white;
    text-decoration: underline;
    font-family: 'Protest Guerrilla', sans-serif;
    font-size: 3rem;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}