* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    color: beige;
    background-color: black;
    text-align: center;
}

ul, li, a {
    text-decoration: underline;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
    line-height: 2rem;
}

h1 {
    font-family: 'Protest Guerrilla', sans-serif;
    font-size: 3rem;
    margin-top: 2rem;
}

h2 {
    font-family: 'Protest Guerrilla', sans-serif;
    font-size: 3rem;
    margin-top: 2rem;
}
